<div class="col-xl-3">
  <section class="card">
    <header class="card-header card-header-lg primary_background_color secondary_text_color">
      <%= t(name, scope: :widgets) %>
    </header>
    <div class="card-block">
      <h2>
        <%= number_with_delimiter(policy_scope(FacebookPost).blacklisted.size, :delimiter => ',') %>
      </h2>
    </div>
  </section>
</div>
