<div class="col-xl-3">
  <section class="card">
    <header class="card-header card-header-lg">
      <%= t(name, scope: :widgets) %>
    </header>
    <div class="card-block">
      <h2>
        <%= number_with_precision(policy_scope(FacebookPage).count, :precision => 0, :delimiter => ',') %>
      </h2>
    </div>
  </section>
</div>
