<div class="col-md-12 col-lg-6">
  <section class="card">
    <header class="card-header card-header-lg primary_background_color secondary_text_color">
      Most Egregious Violators
    </header>
    <div class="card-block">
      <div class="row counterfind_ux_v2">
        <% @violators.each do |domain, count| %>
          <% perc = (count / @total_violations.to_f * 100).round %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="domain_name text-left">
              <%= domain %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-9 ">
            <div class="progress-with-amount">
              <progress class="progress progress-success" value="<%= perc %>" max="100"></progress>
              <div class="progress-with-amount-number">
                <%= perc %>%
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
