<% value = policy_scope(FacebookPost).reported_to_facebook.size * FacebookPost::ESTIMATED_VALUE %>

<div class="col-xl-3">
  <article class="statistic-box grey">
      <div>
        <div class="number">
          $<%= value %>
        </div>
        <div class="caption">
          <div>
            <%= t(name, scope: :widgets) %>
          </div>
        </div>
      </div>
  </article>
</div>
