<% value = policy_scope(FacebookPost).reported_to_facebook.size * FacebookPost::ESTIMATED_VALUE %>
<div class="col-xl-3">
  <section class="card">
    <header class="card-header card-header-lg">
      <%= t(name, scope: :widgets) %>
    </header>
    <div class="card-block">
      <h2>
        $
        <%= value %>
      </h2>
    </div>
  </section>
</div>
