<div class="col-xl-4">
  <article class="statistic-box grey">
      <div>
        <div class="number">
          ?$
        </div>
        <div class="caption">
          <div>
            <%= t(name, scope: :widgets) %>
          </div>
        </div>
      </div>
  </article>
</div>
