<%= hidden_field_tag :current_page, associate_model %>
  <div class="row">
    <div class="col-md-12">
      <h4>Trainings</h4>
    </div>
  </div>
  <hr class="top-0-hr" />
  <%= f.fields_for associate_model.to_sym do |builder| %>
    <%= render "/employees/associate_fields/#{associate_model.singularize}_fields", :f => builder %>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <%= link_to_add_fields "Add New", f, associate_model.to_sym, "btn btn-primary pull-right", "/employees/associate_fields/" %>
    </div>
  </div>
  <hr/>
