---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/99559607813/feed?access_token=EAACEdEose0cBAAPkAqV2UjFwGKvgP93SOQYOKQOGMLFq7TC77Tbb7pbQJWsR8BjzEbOGJZAhTolTzSBDh86bq9RZCjVwnZB2VsfWh5oXMDhYLUX5hpyH3VQ5wl5svB9TZCUruX74RQorHRlZAPHzRyZC5QSPunV6NQSDtfrfXqdY9ZCZCEd04SJm&fields=id,message,created_time,permalink_url,full_picture&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":2,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
      Etag:
      - '"60c97067c78593b0d70001788783ff7ce7744636"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"99559607813_10155761820157814","message":"Mailbag:
        Our dallascowboys.com staff answer your questions on what the Cowboys would
        have to give up for the first pick in the draft and Byron Jones'' future.\n\nAnswers:
        \ud83d\udc47","created_time":"2017-02-13T16:41:57+0000","permalink_url":"https:\/\/www.facebook.com\/DallasCowboys\/posts\/10155761820157814","full_picture":"https:\/\/external.xx.fbcdn.net\/safe_image.php?d=AQAiTEkWL2LP24Gv&url=http\u00253A\u00252F\u00252Fwww.dallascowboys.com\u00252Fsites\u00252Fdallascowboys.com\u00252Ffiles\u00252Fstyles\u00252Fopen_graph__large\u00252Fpublic\u00252Fmedia-ap\u00252F86da8e2fce5446149e725235cc1d48f4.jpg\u00253Fitok\u00253DstrQqev1\u002526timestamp\u00253D1487003434&_nc_hash=AQClYTJ8i913AUju"},{"id":"99559607813_10155756676682814","message":"Join
        DCU for $20 and take 20\u0025 off everything in stores and on[...]
