---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/search?access_token=EAACEdEose0cBABkrqiqPYNC34cW9f4jxaDLkeHm8KSMG2NgYZC5a2292xLQDZCKnA0tMgfX1NZCrMa0gP411rndl2FCFD6FHmt6zbzj9nYC8hv8scg9oZCDfxUEKewD19AgodHBL3VqnEpmqVKn5qGWr51gjvJSkfY3m3TLvJzkVJYX7HGIm&fields=id,name&limit=500&q=Dallas%20Cowboys%20Fans&type=page
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":2,"total_cputime":2,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
      Etag:
      - '"354fc49ca07dbd4b63ebc313ae7f382c07e028cf"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"546449858737680","name":"Dallas Cowboys Fans"},{"id":"154938897874034","name":"Dallas
        Cowboys NFL Fans"},{"id":"384317418346157","name":"Dallas Cowboys fans"},{"id":"731651883579257","name":"Dallas
        Cowboys fans of New England"},{"id":"251079624908852","name":"Dallas Cowboys
        Fans Chicago"},{"id":"420810438099395","name":"Dallas Cowboy''s Fans House"},{"id":"113002415733846","name":"Dallas
        Cowboys Fan Pages"},{"id":"135642253441353","name":"Dallas Cowboys Fans"},{"id":"691091040951424","na[...]
[...]
