---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/search?access_token=EAACEdEose0cBAL6V48bRsvGvqA6kpuscgsZC8TePnWiSlfsNmj3ZBlw6BSIvMvldV5uFGcYrWU56iPpjgFvs7pnpdJ2WJLiUsTFKpJOqX4Fv9ifPgDnCaZA18bNwBGHx3I2ZCZCknLVP0J0ITkyiIWYmtkq8OMxYDx3bCdBHdsLg8uodYYCaw&fields=id,name,link,picture.width(200)&limit=10&q=Dallas%20Cowboys&type=page
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":1,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
      Etag:
      - '"6b83d2a883e96ae9889b916a026cf8fa39bf7348"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"546449858737680","name":"Dallas Cowboys Fans","link":"https:\/\/www.facebook.com\/DallasCowboysFansNow\/","picture":{"data":{"height":166,"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/s200x200\/1097986_546450085404324_775172588_n.jpg?oh=77da7b2e8e6f1d4fb1809243f4275215&oe=59393125","width":200}}},{"id":"384317418346157","name":"Dallas
        Cowboys fans","link":"https:\/\/www.facebook.com\/dallascowboysfans.net\/","picture":{"data":{"height":148,"is_silhouette":false,"url":"https:\/\/scontent.xx.fbcdn.net\/v\/t1.0-1\/s200x200\/10686934_602707836507113_2349669852356308844_n.jpg?oh=9626c4cad7f13a3ea9b0ef5b14c4d19a&oe=5946D1A3","width":200}}},{"id":"154938897874034","name":"Dallas
        Cowboys NFL Fans","link":"https:\/\/www.facebook.com\/Dallas-Cowboys-NFL-Fans-154938897874034\[...]
