---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.8/377781842587879?access_token=EAACEdEose0cBAL6V48bRsvGvqA6kpuscgsZC8TePnWiSlfsNmj3ZBlw6BSIvMvldV5uFGcYrWU56iPpjgFvs7pnpdJ2WJLiUsTFKpJOqX4Fv9ifPgDnCaZA18bNwBGHx3I2ZCZCknLVP0J0ITkyiIWYmtkq8OMxYDx3bCdBHdsLg8uodYYCaw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":2,"total_cputime":2,"total_time":2}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Unsupported get request. Object
        with ID '377781842587879' does not exist, cannot be loaded due to missing
        permissions, or does not support this operation. Please read the Graph API
        documentation at https://developers.facebook.com/docs/graph-api"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Unsupported get request. Object with ID ''377781842587879''
        does not exist, cannot be loaded due to missing permissions, or does not support
        this operation. Please read the Graph API documentation at https:\/\/developers.facebook.com\/docs\/graph-api","type":"GraphMethodException","code":100,"fbtrace_id":"HEKSoxg6k3H"}}'
  recorded_at: Fri, 24 Feb 2017 11:30:40 GMT
recorded_with: VCR 3.0.3
