<section class="box-typical box-panel col-xl-6">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>Editing User</h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <%= render 'form', user: @user %>
  </div>
</section>

<% unless @user.admin? %>
  <div class="col-xl-1"></div>

  <section class="box-typical box-panel col-xl-5">
    <header class="box-typical-header">
      <div class="tbl-row">
        <div class="tbl-cell tbl-cell-title">
          <h3>User Dashboard Widgets</h3>
        </div>
      </div>
    </header>
    <div class="box-typical-body">
      <%= render 'dashboard_form', user: @user %>
    </div>
  </section>

  <section class="box-typical box-panel col-xl-12">
    <header class="box-typical-header">
      <div class="tbl-row">
        <div class="tbl-cell tbl-cell-title">
          <h3>User Domains</h3>
        </div>
      </div>
    </header>
    <div class="box-typical-body">
      <div class="row">
        <div class="col-sm-12">
          <p class= "note">
            Only Domains added here will be visible to <%= @user.name%>.
          </p>
        </div>
        <% Domain::statuses.each do |value, key| %>
          <%= render 'dashboard_domains', user: @user, status: value %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
