<section class="box-typical box-panel col-xl-12">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>Create User</h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <%= render 'form', user: @user %>
  </div>
</section>
