.table-destroy {
  @extend .table-active;
}
.table-whitelisted {
  @extend .table-success;
}
.table-blacklisted {
  @extend .table-danger;
}
.table-reported_to_facebook {
  @extend .table-info;
}

table.activities {
  font-size: 0.87rem;

  td.activities-long-text {
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
