.turbolinks-progress-bar {
  background-color: #00A8FF;
}

.pagination {
  justify-content: flex-end;
}

@media (min-width: 1057px) {
  ul.main-nav.nav-inline .nav-item + .nav-item,
  ul.main-nav.nav-inline .nav-link + .nav-link {
    margin-left: 2rem;
  }
}
