.turbolinks-progress-bar {
  background-color: #00A8FF;
}

.pagination {
  justify-content: flex-end;
}

@media (min-width: 1057px) {
  ul.main-nav.nav-inline .nav-item + .nav-item,
  ul.main-nav.nav-inline .nav-link + .nav-link {
    margin-left: 2rem;
  }
}

.mass-actions form {
  display: inline;
  margin-right: 10px;
}

td.index-actions .btn:nth-child(n+2) {
  margin-top: 5px;
}

form#export-date label {
  display: inline;
}

.label {
  &.label_confirmed_client {
    background-color: #46c35f;
  }

  &.label_admin {
    background-color: #d9534f;
  }
}

.quick-form {
  margin-bottom: 10px;
}

.widget-check-box {
  padding: 5px;
}
.truncate{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  display: inline-block;
}
.note{
  background: rgba(243, 247, 55, 0.55);
  padding: 6px;
}
#assigned_domains{
  ul{
    li{
      padding: 6px;
      margin: 5px 0;
      line-height: 18px;
      background: #f5f6f7;
      &:nth-child(even){
        background: #eceeef;
      }
      a{
        float: right;
        color: #fff;
        background: #e65353;
        border-radius: 100%;
        font-size: 14px;
        i{
          line-height: 21px;
        }
      }
    }
  }
}
