.mobile-email-tab,
.mobile-logout-tab{
  display: none !important;
}
a{
  color: #3daafa;
}
.filter_holder{
  margin: 0 0 15px;
  form{
    display: inline-block;
    width: 100%;
  }
  nav{
    float: right;
    margin-top: 8px;
    .pagination {
      .page-item{
        .page-link {
          padding: .4rem .60rem;
        }
      }
    }
  }
  .holder{
    display: block;
    overflow: hidden;
    margin: 0 -5px;
    .form-group{
      min-width: 130px;
      max-width: 160px;
      vertical-align: bottom;
      margin-bottom: 10px;
      label{
        font-weight: normal;
      }
      .btn{
        padding: 8px 12px;
      }
      .select2.select2-container{
        width: 100% !important;
         .select2-selection--single {
            border-radius: 3px;
            background-color: #ffffff;
            border: solid 1px #d5e2e8;
            padding: 5px;
            line-height: 26px;
            min-height: 38px;
        }
         .select2-selection__arrow {
          top: 6px;
         }
      }
      .form-control{
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #d5e2e8;
        padding: 5px;
        line-height: 26px;
        min-height: 38px;
        width: 100%;
      }
    }
    .col-md-3.form-group {
      padding: 0 5px;
    }
    .filter-btn{
      width: 100%;
      display: block;
      margin: 10px 0;
      text-align: left;
      padding: 0 5px;
    }
    .btn-filter-block{
      vertical-align: bottom !important;
      margin: 10px 0;
    }
  }
}
.dashboard-card-holder {
  .card {
    border-radius: 0;
    box-shadow: 0 1px 1px 0 #c2c3c7;
    .card-header {
      padding: 1.2rem 1.25rem;
      font-size: 18px;
      text-align: left;
      font-weight: 600;
      color: rgb(121, 114, 114);
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: normal;
    }
    .card-block {
        text-align: center;
        min-height: 192px;
        .widget-icon-holder{
            width: 51px;
            margin: 10px auto;
            img{
              width: 100%;
            }
        }
      .row{
        width: 100%;
      }
      h2 {
        margin: 0 auto;
        font-size: 38px;
        line-height: 1.03;
        text-align: center;
        color: #4a4a4a;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
      }
      .progress {
        margin-bottom: 10px;
        height: 16px;
      }
    }
  }
}
.logo-holder{
    display: inline-block;
    min-width: 50%;
  h4{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #444444;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    margin: 0;
  }
  .sub-logo{
    margin-top: 10px;
    span{
    font-size: 13px;
    text-align: left;
    color: #4a4a4a;
    }
    img{
    width: 30px;
    display: inline-block;
    }
  }
}

.brand-logo-holder{
  text-align: center;
}
.user-details{
  padding: 0;
  margin: 25px 0 0;
  list-style: none;
  .holder{
      display: inline-block;
      border: 1px solid #eee;
      padding: 6px;
      margin-bottom: 10px;
      width: 100%;
    h4{
      font-size: 18px;
      color: #0e2240;
      margin:0 0 3px;
    }
    h5{
    font-size: 16px;
    color: #5f5c5c;
    margin:0 0 3px;
    }
  }
}
@media (max-width: 1270px){
  .dashboard-card-holder {
    .card {
      .card-header{
        padding: 1.2rem 0.6rem;
        font-size: 16px;
      }
    }
  }
}

.inner-header{
    margin: 0 0 30px;
  .holder{
    .heading-holder{
      display: inline-block;
      vertical-align: middle;
      h3{
        margin: 4px 0 0;
        line-height: 38px;
      }
      .fillter-value{
        max-width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        line-height: 38px;
      }
    }
    .search-form-holder{
      display: inline-block;
    }
    .pagination-holder{
      float: right;
      margin-left: 30px;
      nav{
        line-height: 13px;
        .pagination {
          margin: 0;
          li{
            a{
              padding: .4rem .75rem;
            }
          }
        }
      }
    }
  }
}
#div-table{
  .custom_table{
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 1px solid #ddd;
    .div-table-body{
      display: table-row-group;
    }
  .div_TableRow{
    font-family: 'Source Sans Pro', sans-serif;
    &:hover{
      background-color: #f5f5f5;
    }
    .div_TableHead{
      color: #4a4a4a;
      font-family: 'Source Sans Pro', sans-serif;
      vertical-align: middle;
      padding: 8px;
      background: #f6f8fa;
      font-weight: 600;
      &:nth-child(1){
        border-left: 1px solid #ddd;
        }
      }
    }
  }
}

#brand_table{
  .div_TableCell{
    &:nth-child(1){
      border-left: 1px solid #ddd;
      img{
        width: 80px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
 .desktop-none{
    display: none;
  }
.domain_hading_holder{
  .heading-holder{
    h3{
      margin: 0;
    }
  }
  .form-inline{
    display: inline-block;
  }
}
.mobile_content.affiliate_page_name{
  max-height: 34px;
}

@media only screen and (max-width: 1200px) {
  .inner-header{
    .holder{
      .add_new-btn {
        float: right;
      }
      .search-form-holder{
        float: left;
      }
    }
  }
}

@media only screen and (max-width: 870px) {
  .inner-header{
    .holder{
      .heading-holder{
          margin-bottom: 10px;
      }
      .search-form-holder{
        margin: 0 auto 15px;
        float: none;
        width: 100%;
        text-align: center;
        #keyword_search{
          .input-group{
            .input-group-addon{
              min-width: 38px;
            }
            .form-control{
              margin-right: 5px;
            }
            .btn.btn-secondary{
              min-width: 46px;
            }
          }
        }
      }
      .pagination-holder{
        float: none;
        margin: 0 auto;
        text-align: center;
        nav{
          text-align: center;
        }
      }
      .new_form_holder{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-content {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .mobile-none{
    display: none !important;
  }
   .desktop-none{
    display: block;
  }
  .inner-header{
      .holder{
       .heading-holder h3 {
            margin: 0;
            line-height: 34px;
        }
        .search-form-holder{
              margin: 10px auto;
          .form-inline{
            .input-group{
              display: inline-flex;
            }
          }
          .input-group-addon:first-child {
              border-right: 0;
              min-width: 33px;
              padding: 8px;
          }
        }
        .new_form_holder{
          .form-inline{
            vertical-align: middle;
            .input-group{
              display: inline-flex;
              .input-group-addon{
                min-width: 38px;
                line-height: 19px;
              }
            }
            .btn.btn-primary{
              margin-left: 4px;
            }
          }
        }
      }
    }
    .brand-table{
    tr{
      td{
        .btn.btn-sm{
          width: 100%;
          margin: 0 0 5px;
        }
      }
    }
    .div_TableCell{
      overflow: hidden;
       &:nth-child(1){
        border-left: 1px solid #ddd;
        img{
          width: 50px;
          float: right;
        }
      }
    }
  }
  .mobile-email-tab,
  .mobile-logout-tab{
    display: block !important;
  }
  .mobile-email-tab{
    a{
      font-size: smaller !important;
    }
  }
  .mobile-tab-none{
    display: none !important;
  }
  .domain_name{
    text-align: left !important;
  }
  .dashboard-card-holder .card .card-block .widget-icon-holder {
    width: 51px;
    margin: 30px auto 0;
  }

  .custom_table{
      display: block;
      width: 100%;
    .div_TableRow{
      display: table;
      width: 100%;
      .div_TableCell,
      .div_TableHead{
          display: block;
          width: 100% !important;
          min-height: 50px;
          padding: 10px;
              border-width: 1px 1px 0 1px;
          .mobile_table_head{
            display: table-cell;
            width: 1%;
            vertical-align: middle;
          }
          img{
            width: 50px !important;
            margin: 0;
            display: block;
            float: right;
          }
      }
      .mobile_content{
        display: table-cell;
        width: 1%;
        text-align: right;
        vertical-align: middle;
        }
    }
  }
  .domain_hading_holder{
   .form-inline {
      display: inline-block;
      width: 100%;
      text-align: center;
      .input-group{
        display:inline-flex;
        .input-group-addon{
            min-width: 38px;
            line-height: 19px;
          }
      }
    }
  }

}
@media only screen and (max-width: 560px) {
  .inner-header {
   .holder{
      .new_form_holder{
        #new_keyword{
          .btn{
            padding: 6px;
          }
        }
      }
      #keyword_search{
        .btn{
          padding: 6px 10px;
        }
      }
      .domain_hading_holder{
        .form-inline {
          .btn{
            padding: 6px 8px;
          }
        }
      }
    }
  }
}


.div_TableRow { display: table-row; }
.div_TableHeading { display: table-header-group; }
.div_TableBody { display: table-row-group; }
.div_TableFoot { display: table-footer-group; }
.div_TableCell, .div_TableHead { display: table-cell; }
.div_Table {
    display: table;
    width: 100%;
}
.div_TableRow {
    display: table-row;
}
.div_TableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.div_TableCell, .div_TableHead {
    display: table-cell;
    padding: 8px 10px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #ddd;
    color: #4a4a4a;
    vertical-align: middle;
}
.div_TableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.div_TableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.div_TableBody {
    display: table-row-group;
}
.action-dropdown{
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #d5e2e8;
  padding: 5px;
  line-height: 20px;
  min-height: 30px;
  min-width: 130px;
  position: absolute !important;
  right: 30px;
  top: 7px;
  a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: left;
    color: #4a4a4a !important;
  }
}

.mt22{
  margin-top: 22px !important;
}
