.dashboard-card-holder {
  .card {
    border-radius: 0;
    box-shadow: 0 1px 1px 0 #c2c3c7;
    .card-header {
      padding: 1.2rem 1.25rem;
      font-size: 18px;
      text-align: left;
      font-weight: 600;
      color: rgb(121, 114, 114);
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: normal;
    }
    .card-block {
        text-align: center;
        min-height: 192px;
        padding: 30px;
        .widget-icon-holder{
            width: 51px;
            margin: 10px auto;
            img{
              width: 100%;
            }
        }
      .row{
        width: 100%;
      }
      h2 {
        margin: 0 auto;
        font-size: 38px;
        line-height: 1.03;
        text-align: center;
        color: #4a4a4a;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
      }
      .progress {
        margin-bottom: 10px;
      }
    }
  }
}
.logo-holder{
    display: inline-block;
    min-width: 50%;
  h4{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #444444;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    margin: 0;
  }
  .sub-logo{
    margin-top: 10px;
    span{
    font-size: 13px;
    text-align: left;
    color: #4a4a4a;
    }
    img{
    width: 30px;
    display: inline-block;
    }
  }
}

.brand-logo-holder{
  text-align: center;
}
.user-details{
  padding: 0;
  margin: 25px 0 0;
  list-style: none;
  .holder{
      display: inline-block;
      border: 1px solid #eee;
      padding: 6px;
      margin-bottom: 10px;
      width: 100%;
    h4{
      font-size: 18px;
      color: #0e2240;
      margin:0 0 3px;
    }
    h5{
    font-size: 16px;
    color: #5f5c5c;
    margin:0 0 3px;
    }
  }
}
@media (max-width: 1270px){
  .dashboard-card-holder {
    .card {
      .card-header{
        padding: 1.2rem 1rem;
        font-size: 16px;
      }
    }
  }
}
