.dashboard-card-holder {
  .card {
    border-radius: 0;
    .card-header {
      padding: 1.2rem 1.25rem;
      font-size: 18px;
      text-align: left;
      font-weight: 600;
      color: rgb(121, 114, 114);
    }
    .card-block {
      text-align: center;
      min-height: 192px;
      display: flex;
      align-items: center;
      h2 {
        margin: 0 auto;
        font-weight: bold;
        font-size: 40px;
        color: #00a8ff;
      }
    }
  }
}
