form {
  &.resource-form {
    max-width: 600px;
  }

  &.form-inline input.fast-add-form {
    // width: 50%;
  }

  &#new_brand, form#new_keyword {
    margin-top: 40px;
  }
}

.search-filters {
  margin-top: 20px;
  margin-bottom: 20px;
}
