#top-nav-slider{
  .slick-prev{
    left: 0;
    background: #fff;
    z-index: 9;
    min-height: 53px;
    min-width: 30px;
  }
  .slick-next{
    right: 0;
    background: #fff;
    z-index: 9;
    min-height: 53px;
    min-width: 30px;
  }
  .slick-arrow{
    &:before,
    &:after{
      color: #adb7be;
      opacity: 9;
    }
  }
  .slick-initialized .slick-slide {
    padding: 0 10px;
  }
  .slick-list{
    padding: 0 15px;
    overflow: inherit !important;
  }
  .nav-item{
     .dropdown-menu{
        margin-top: -5px !important;
        border-radius: 0 !important;
        .dropdown-item{
          align-items: center;
          display: flex;
          .icon-holder {
            display: inline-block;
            width: 21px;
            margin-right: 6px;
            img{
              width: 100%;
            }
          }
        }
      }
    .nav-link {
      display: flex;
      align-items: center;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      text-align: left;
      color: #4a4a4a;
      font-weight: normal;
      text-transform: capitalize;
      .icon-holder {
        display: inline-block;
        width: 24.9px;
        margin-right: 6px;
        img{
          width: 100%;
        }
      }
      i.fa{
        margin-right: 6px;
        color: #777b80;
      }
    }
  }
}
