/* tables */
table.client-sortable {
	thead tr .header {
		cursor: pointer;
    position: relative;
    top: -1px;
		color: #0082c6;
    text-decoration: none;
    cursor: pointer;
    outline: none !important;
	}

	thead tr .headerSortUp:after {
	  content: "\f0d7";
	  font-family: "FontAwesome";
		margin-left: 5px;
	}

	thead tr .headerSortDown:after {
	  content: "\f0d8";
	  font-family: "FontAwesome";
		margin-left: 5px;
	}
}
