.table-destroy {
  @extend .table-active;
}
.table-whitelisted {
  @extend .table-success;
}
.table-blacklisted {
  @extend .table-danger;
}
.table-reported_to_facebook {
  @extend .table-info;
}

.btn.go-to-post {
  margin-top: 5px;
}

td.index-actions {
  @extend .text-right;
  padding-top: 0;
  a {
    margin-top: 10px;
  }
}
