<section class="box-typical box-panel col-xl-6">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>Editing Brand</h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <%= render 'form', brand: @brand %>
  </div>
</section>
