<section class="box-typical box-panel col-xl-6">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>Editing Licensor</h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <%= render 'form', licensor: @licensor %>
  </div>
</section>

<section class="box-typical box-panel col-xl-6">
  <header class="box-typical-header">
    <div class="tbl-row">
      <div class="tbl-cell tbl-cell-title">
        <h3>Cease And Desist Email Template </h3>
      </div>
    </div>
  </header>
  <div class="box-typical-body">
    <%= render 'template_form', email_template: @email_template %>
  </div>
</section>
