function formatState (data) {
  var $data = $(
    '<span><img src="'+ data.text +'" style="width: 21px; padding: 0px 2px 4px 0px;"/>'+ data.id +'</span>'
  );

  return $data;
};
$(".brand_logos").html("<%= escape_javascript options_from_collection_for_select(@logos, :id, :image) %>");


$(".brand_logos").select2({
  templateResult: formatState,
  templateSelection: formatState
});
$("input[name='email_template[sent_emails_attributes][0][brand_id]']").val("<%= @brand.id %>")
