function formatState (data) {
  var $data = $(
    '<span><img src="'+ data.text +'" style="width: 21px; padding: 0px 2px 4px 0px;"/>'+ data.id +'</span>'
  );

  return $data;
};
$(".brand_logos").html("<%= escape_javascript options_from_collection_for_select(@logos, :trademark_registration_number, :image) %>");


$(".brand_logos").select2({
  templateResult: formatState,
  templateSelection: formatState
});
