<nav class="navbar navbar-inverse bg-inverse">
  <div class="navbar-brand">
    <%= link_to image_tag("counterfind-logo.png", height: "40px", class: "d-inline-block"),
                root_path %>
    CounterFind
  </div>
</nav>
